<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/static/birthday/css/style.css">
</head>

<body>
    <div class="card1">

        <div class="ctn">
            <div class="logo">
                <img src="http://localhost:3000/static/birthday/images/image (47).png" alt="">
            </div>
            <div class="sec-ctn">
                <h1>Fablo</h1>
                <h2>wishes you </h2>
                <h2>a very </h2>
                <h1>Happy</h1>
                <h1><span>Birthday</span></h1>
                <h1>{{name}}</h1>
            </div>
        </div>
        <div class="left-img1">
            <img src="http://localhost:3000/static/birthday/images/image-removebg-preview - 2023-09-08T161832.499.png" alt="">
        </div>
    </div>
</body>

</html>